.body-content ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.body-content ::-webkit-scrollbar-corner {
    background-color: transparent;
}

.body-content ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 4px;
}

.body-content ::-webkit-scrollbar-track {
    background-color: transparent;
}
body,html {
    padding:0;
    margin: 0;
    font-size: 12px;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
}
.zwjheader {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.zwjheader button {
    width: 90px;
    height: 30px;
    margin: 10px 8px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    line-height: 30px;
    font-size: 12px;
}
.undoEditor {
    background-color: rgb(258, 249, 252);
    color: rgb(120, 189, 247);
    border: 1px solid #ccc;
}
.saveConfig {
    background-color: rgb(124, 178, 245);
    color: rgb(258, 249, 252);
    border: none;
}
.body {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}
.body>div {
    float: left;
    height:100%;
}
.body-content {
    width: 72%;
}
.body-tap {
    width: 28%;
}
.body-introduction>div {
    width: 100%;
}
.body-introduction__header {
    padding: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.body-introduction__title {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}
.body-introduction .body-introduction__content {
    font-size: 14px;
    width: 75%;
    padding: 35px 0;
    line-height: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.body-introduction__icon {
    float: right;
    cursor: pointer;
}
.body-introduction__icon :hover {
    color: rgb(120, 189, 247);
}
.body-tap {
    background-color: rgb(246, 248, 252);
}
.body-tap__title {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}
.body-tap__content {
    width: 100%;
    padding: 0 10%;
}
.body-tap__input {
    width: 80%;
    height: 38px;
    border: 1px solid #ccc;
    margin-top: 12px;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    line-height: 38px;
}
.body-edit {
    height: calc(100% - 182px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.body-edit__list {
    width: 100%;
    height: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    background-color: #fff;
}
#body-edit .highlightStyle {
    border-top-color: rgb(120, 189, 247);
}
.editApp .body-edit__list:hover {
    border-color: #ccc;
}
.body-edit__icon {
    position: absolute;
    top: 0;
    right: 0;
}
.body-edit__icon > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    cursor: pointer;
    display: none;
}
.editApp .body-edit__list:hover .body-edit__icon > div {
    display: block;
}
.editApp .body-edit__sup:hover {
    background-color: rgb(120, 189, 247);
    color: #ffffff;
}
.editApp .body-edit__del:hover {
    background-color: rgb(199, 104, 100);
    color: #ffffff;
}
.body-edit__introduct {
    font-size: 14px;
    width: 75%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.body-edit__content {
    width: 75%;
    margin: 0 auto;
}
.body-edit__content .el-input__inner {
    height: 30px;
}
.body-edit__content .el-textarea__inner {
    height: 40px;
}
.body-edit__content .el-form-item__error {
    top: 10px;
    right: 20px;
    left: auto;
}
.edit-list__config {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    padding-top: 10px;
    border: 1px solid #6ECEFB;
    box-sizing: border-box;
    background: rgba(242,247,255,1);
    z-index: 999;
}
.flip-list-move {
    transition: transform 0.3s;
}
.edit-list__config .el-input__inner {
    width: 85%;
    height: 30px;
}
.edit-list__config .el-form-item {
    margin-bottom: 10px;
}
.edit-list__config .el-form-item__label, .edit-list__config .el-checkbox__label {
    font-size: 12px;
}
.edit-list__config .el-select .el-input__inner {
    width: 100%;
}
.edit-list__config .el-button {
    width: 75px;
    height: 30px;
    padding: 0;
    line-height: 30px;
}
.body-edit__addOptions {
    width: 75%;
    height: 30px;
    margin:0 auto;
    box-sizing: border-box;
    padding-left: 5px;
    color: #cccccc;
    font-size: 12px;
    line-height: 30px;
    border: 1px dashed #C4C6CA;
    cursor: pointer;
}
